@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background-color: #fff;
    --text: #1c1c1c;
    --primary: #a7e3fe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--trans);
    scroll-behavior: smooth;
}

body {
    display: flex;
    min-height: 100vh;
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100%;
    transition: all 0.3s ease;

    background-image: url(../images/bg_4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    justify-content: center;
    align-items: center;

    overflow: hidden;
}

/* All glassmorphism effect was created by website: css.glass */
body .container {
    position: relative;
    width: 90%;
    height: 90%;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}



